.form {
  display: grid;
  grid-template:
    'textarea textarea' min-content
    'cancel confirm' min-content / 1fr 1fr;
  gap: 10px;

  padding: 10px;
  border: 1px solid #353537;
  border-radius: 5px;

  background-color: #cd9b9d;
}

.textarea {
  resize: none;
  grid-area: textarea;
  padding: 0.5rem;
  background-color: #dbc7c9;
}

.cancel-button {
  grid-area: cancel;
}

.confirm-button {
  grid-area: confirm;
}
