.modal-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  padding: 10px;
  border: 1px solid #353537;
  border-radius: 5px;

  color: #353537;

  background-color: #cd9b9d;
}

.modal-text {
  padding: 0 20px;
}
