.options {
  display: grid;
  grid-template:
    'option-list option-list' min-content
    'add-option-button add-option-button' min-content
    'paste-list-button paste-list-button' min-content
    'clear-list-button clear-list-button' min-content
    'save-list-button load-list-button' min-content
    'start-button start-button' min-content / 1fr 1fr;
  gap: 10px;

  width: 100%;
  max-width: 600px;
  margin-inline: auto;
}

.add-option-button {
  grid-area: add-option-button;
}

.paste-list-button {
  grid-area: paste-list-button;
}

.clear-list-button {
  grid-area: clear-list-button;
}

.save-list-button {
  grid-area: save-list-button;
}

.load-list-button {
  grid-area: load-list-button;
}

.start-button {
  grid-area: start-button;
}
